@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");

body {
  position: absolute;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}
